.attendance__list__day__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attendance__form {
  margin-bottom: 40px;
}

.attendance__form__table {
  width: 100%;
}

.attendance__list__day__header__day {
  color: $main-second;
  font-weight: 700;
}

.attendance__form__table--no_project {
  .attendance__description,
  .attendance__from,
  .attendance__current {
    width: calc((100% - 100px) / 3)
  }
}

.attendance__description,
.attendance__from,
.attendance__current,
.attendance__project {
  width: calc((100% - 100px) / 4)
}

.attendance__submit {
  text-align: right;
  width: 100px;
}

.attendance__list__day__header__total__number {
  @include fs(20);
  color: $main;
  padding-left: 8px;
}

.attendance__list__day__item {
  flex-basis: 40%;
}

.attendance__list__day__item__form {
  display: flex;
}


.attendance__list__day__item__info__description {
  display: flex;
  white-space: normal;
  align-items: center;
  margin: 0 !important;
  margin-right: 4px !important;
}

.attendance__list__day__item__stats {
  display: flex;
}

.attendance__list__day__item__stats__time {
  display: flex;
}

.attendance__list__day__item__stats__time__form {
  display: flex;
}

.attendance__list__day__item__stats__time__from,
.attendance__list__day__item__stats__time__to {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  input {
    margin: 0;
  }
}

.datepicker__box {
  position: relative;
  height: 38px;
}

input.datepicker {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  padding: 0;
  border: 0;
}

.datepicker__icon {
  width: 38px;
  height: 38px;
  background-image: url("../../images/icons/calendar-pink.svg");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
}

.attendance__list__day__item {
  margin: 4px 0;
}

.attendance__list__day__item__info {
  flex-basis: 40%;
  display: flex;
}

.attendance__list__day__item__stats {
  flex-basis: 60%;
  justify-content: space-between;
}

.attendance__list__day__item__button {
  background-color: transparent;
  color: $bright;
  width: 38px;
  height: 38px;
  border-radius: 2px;
  text-transform: uppercase;
  @include fs(0);
  background-image: url("../../images/icons/save-purple.svg");
  background-size: 27px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

}

.attendance__list__day__item__stats__time__total {
  @include fs(18);
  display: flex;
  align-items: center;
  padding-left: 10px;
}