.index {
  height: 100vh;
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index__box {
  max-width: 600px;
}

.index__box__logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  img {
    flex-basis: 100%;
  }
}

.index__box__logo__small {
  max-width: 200px;
}

.index__box__logo__full {
  max-width: 100%;
}

.index__box__form {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
  color: $bright;
  input[type=email],
  input[type=password] {
    min-width: 300px;
    margin: 5px 0;
  }
  .btn {
    width: 100%;
  }
  a {
    color: $bright;
  }
}