.usercard {
  padding: 20px;
  border-radius: 5px;
  border: 2px solid $main;
  background-color: $bright;
}

.usercard--attendance {
  max-width: none;
}

.user__listing {
  width: 100%;
  tr {
    border-bottom: 2px solid $main;
    td, th {
      padding: 5px 10px;
    }
  }
}

.user__actions {
  > a {
    margin-right: 10px;
  }
}

.user__action {
  padding: 3px 10px;
  border-radius: 5px;
  display: inline-block;
}

.user__action--edit {
  border: 1px solid $green;
  color: $green;
  &:hover {
    color: $green;
  }
}

.user__action--delete {
  border: 1px solid $red;
  color: $red;
  &:hover {
    color: $red;
  }
}