.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $dark-second;
}

.header__logo {
  a {
    display: flex;
    align-items: center;
  }
}

.header__logo__small {
  max-width: 80px;
}

.header__logo__full {
  max-width: 200px;
}

.header__menu {
  ul {
    list-style: none;
    margin-bottom: 0;
    li {
      display: inline-block;
      margin-right: 10px;
      a {
        text-decoration: none;
        @include fs(18);
        font-family: $title-font;
        color: $bright;
        padding-left: 30px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
        &.attendance{
          background-image: url("../../../images/icons/time.svg");
        }
        &.project-manager{
          background-image: url("../../../images/icons/folder.svg");
        }
        &.user-manager{
          background-image: url("../../../images/icons/users.svg");
        }
        &.profile{
          background-image: url("../../../images/icons/user.svg");
        }

        &.logout{
          background-image: url("../../../images/icons/logout.svg");
        }
      }
    }
  }
}