body {
  margin: 0;
  min-height: 100vh;
  background-color: #480c4f30;
  color: #0a0a0a;
}

.container {
  padding: 1rem 0.5rem;
  max-width: unset;
}

.container__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container__wrapper__module {
  flex-basis: calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

.form-link {
  display: block;
}