.percentage {
  position: relative;
  width: 100px;
  height: 30px;
  background-color: $dark;
  color: $bright;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;

  &:before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    height: 100%;
    display: block;
    background-color: $green;
    z-index: 0;
  }
  span {
    position: relative;
    z-index: 1;
  }
}

@for $i from 1 through 100 {
  .percentage--#{$i}:before {
    $value: ($i * 1%);
    width: $value;
    border-radius: 5px 0 0 5px;
  }
}
.percentage--100 {
  &:before {
    border-radius: 5px;
  }
}

.percentage--over {
  &:before {
    background-color: $red;
    border-radius: 5px;
    width: 100%;
  }
}