h1 {
  color: $dark;
}

h2 {
  color: $main;
}

.input-group {
  margin-bottom: 20px;
}

.button-box {
  text-align: right;
}

.button-box--multiple {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

label {
  margin-bottom: 0px;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password] {
  padding: 14px;
  border: 2px solid $dark-second;
  margin: 5px 0;
  background-color: $bright;
  color: $grey;
  border-radius: 2px;
  width: 100%;
  &:focus {
    background-color: $bright;
    color: $grey;
  }
  &:hover {
    border-color: #80bdff;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  margin-top: 0;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  &:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
    &:after {
      content: '';
      background-image: url('../../images/icons/tick.svg');
      background-position: center;
      font-size: 14px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-repeat: no-repeat;
      background-size: 10px;

    }
  }
}

.btn {
  padding: 5px 15px;
  background-color: $main;
  color: $bright;
  border-radius: 5px;
  border: none;
  margin: 5px 0;
  @include fs(16);
  font-family: $title-font;
  cursor: pointer;
  transition-duration: 0.3s;
}

.btn-return {

}

.form-control:disabled {
  background-color: #bcbcbc;
  &:focus,
  &:hover {
    border: 2px solid $dark-second;
    background-color: #bcbcbc;
  }
}

.btn-light.dropdown-toggle {
  border: 2px solid $dark-second;
  margin: 0;
  background-color: $bright;
  color: $grey;
  border-radius: 2px;
  width: 100%;
  &:hover {
    background-color: $bright;
    color: $grey;
    border-color: #80bdff;
  }
  &:active {
    background-color: $bright;
    color: $grey;
    border-color: #80bdff;
  }
}

.show {
  > .btn-light.dropdown-toggle {
    background-color: $bright;
    color: $grey;
    border-color: #80bdff;
  }
  .dropdown-menu {
    padding: 0;
    background-color: $bright;
    color: $grey;
    border: 2px solid $dark-second;
  }
}

.dropdown-item {
  &:hover {
    background-color: $bright;
    color: $grey;
  }
}

.btn-primary {
  &:hover {
    background-color: $main-second;
  }
}

.btn-link {

}

th {
  font-weight: 700;
  color: $dark-second;
}

label {
  font-weight: 700;
}

.form-check {
  display: flex;
  align-items: center;
  margin: 10px 0;
  justify-content: center;
  padding: 0;
}

.form-check-label {
  margin-left: 15px;
}