$dark: #1d1135;
$dark-second: #0c164f;
$main: #ba1e68;
$main-second: #5643fd;
$light: #7649fe;
$bright: #fcfbfe;

// Body
$body-bg: #f8fafc;
$grey: #2d2c2d;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$black-1: rgba(0, 0, 0, 0.1);
$black-2: rgba(0, 0, 0, 0.2);
$black-3: rgba(0, 0, 0, 0.3);
$black-4: rgba(0, 0, 0, 0.4);
$black-5: rgba(0, 0, 0, 0.5);
$black-6: rgba(0, 0, 0, 0.6);
$black-7: rgba(0, 0, 0, 0.7);
$black-8: rgba(0, 0, 0, 0.8);
$black-9: rgba(0, 0, 0, 0.9);
$black: #000000;

$white-1: rgba(255, 255, 255, 0.1);
$white-2: rgba(255, 255, 255, 0.2);
$white-3: rgba(255, 255, 255, 0.3);
$white-4: rgba(255, 255, 255, 0.4);
$white-5: rgba(255, 255, 255, 0.5);
$white-6: rgba(255, 255, 255, 0.6);
$white-7: rgba(255, 255, 255, 0.7);
$white-8: rgba(255, 255, 255, 0.8);
$white-9: rgba(255, 255, 255, 0.9);
$white: #ffffff;


// Base font size (only number without px value)
$fs-base: 16 !default;

// Font sizes
$fw-100: 100 !default;
$fw-200: 200 !default;
$fw-300: 300 !default;
$fw-400: 400 !default;
$fw-500: 500 !default;
$fw-600: 600 !default;
$fw-700: 700 !default;
$fw-800: 800 !default;
$fw-900: 900 !default;

// Grid breakpoints
$breakpoints: (
		is : 320px,
		xs : 360px,
		xm : 480px,
		ts : 580px,
		sm : 768px,
		md : 990px,
		lg : 1180px,
		xl : 1380px
) !default;

// Screen sizes
$screen-is: 320px !default;
$screen-xs: 360px !default;
$screen-xm: 480px !default;
$screen-ts: 580px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1180px !default;
$screen-xl: 1380px !default;
$screen-fullhd: 1920px !default;

$screen-is-max: ($screen-xs - 1) !default;
$screen-xs-max: ($screen-xm - 1) !default;
$screen-xm-max: ($screen-ts - 1) !default;
$screen-ts-max: ($screen-sm - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-md-max: ($screen-lg - 1) !default;
$screen-lg-max: ($screen-xl - 1) !default;
$screen-notfullhd: ($screen-fullhd - 1) !default;